<nav class="navbar">
    <ul>
        <h1 class="pagIni">ConnectEDU</h1>
        <li class="dropdown">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/20/20173.png"></a>
            <div class="dropdown-content">
                <a href="#">Notificación 1</a>
                <a href="#">Notificación 2</a>
                <a href="#">Notificación 3</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2645/2645890.png"></a>
            <div class="dropdown-content">
                <a href="#">Tarea pendiente</a>
                <a href="#">En cola</a>
                <a href="#">Correo</a>
            </div>
        </li>
        <ng-container *ngIf="user$ | async as user; else loginButton">
            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
              <img
                width="40"
                height="40"
                class="profile-image-toolbar"
                [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
                alt="Perfil del usuario"
              />
              {{ user.displayName }}
              <mat-icon>expand_more</mat-icon>
            </button>
          </ng-container>
          <ng-template #loginButton>
            <button mat-button routerLink="login" class="login-button">
              <mat-icon>login</mat-icon>
              Ingresa
            </button>
          </ng-template>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/profile">
              <mat-icon>account_circle</mat-icon>
              Tu perfil
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              Cerrar Sesion
            </button>
          </mat-menu>
    </ul>
</nav>