/*You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }
body { margin:50px; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
    width: 200px
}*/
.container {
  display: flex;
  justify-content: center; /* Centrar 
  horizontalmente */
  align-items: flex-start; /* Mantener en su posición vertical original */
  overflow: hidden;
  margin-top: 5px;
  margin-left: 0px;
  width: 300px;
}

@media (max-width: 767px) {
  .milista {
    height: 290px;
    width: 360px;
    overflow-y: auto;
    position: relative; /* Cambia a position:relative */
    top: 100%; /* Posiciona la lista debajo del campo de búsqueda */
    left: 0;
  }
}

.bar {
  /* Estilos específicos para el formulario */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
}


.button {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  height: 24px;
  /* Aumentamos el tamaño de los íconos */
  width: 24px;
  /* Aumentamos el tamaño de los íconos */
  margin-right: 10px;
}