/* Reset de márgenes y altura del body y el html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }
  
  /* Estilo general del body */
  body {
    background-image: url('../src/assets/images/2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  /* Pseudo-elemento para opacidad */
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
  }
  
  /* Contenedor del formulario */
  .form-container {
    width: 300px;
    margin: 20px auto; /* Utiliza margen automático para centrar vertical y horizontalmente */
    background: #eceff1;
    padding: 20px;
    border-radius: 16px;
    overflow: auto;
    position: relative;
  }
  
  /* Estilo para los campos de formulario */
  .form-container mat-form-field {
    width: 100%;
  }
  
  /* Clase para centrar elementos horizontalmente */
  .center {
    display: flex;
    justify-content: center;
  }
  
  /* Clase para agregar margen superior */
  .margin-top {
    margin-top: 16px;
  }
  
  /* Clase para centrar texto horizontalmente */
  .text-center {
    text-align: center;
  }

 