<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>

<div class="main-container">
    <header>
        <h1>Hoja de Vida de Nombre del Usuario</h1>
    </header>
    <div class="info-box">
        <section>
            <h2>Información Personal</h2>
            <p><strong>Nombre:</strong> Juan Pérez</p>
            <p><strong>Fecha de Nacimiento:</strong> 15 de agosto de 1980</p>
            <p><strong>Correo Electrónico:</strong> juan@example.com</p>
            <p><strong>Teléfono:</strong> (123) 456-7890</p>
        </section>

        <section>
            <h2>Experiencia Laboral</h2>
            <p><strong>Empresa XYZ</strong> - Desarrollador Web (2010 - Presente)</p>
            <p>Descripción de las responsabilidades y logros en este trabajo.</p>

            <p><strong>Empresa ABC</strong> - Diseñador Gráfico (2005 - 2010)</p>
            <p>Descripción de las responsabilidades y logros en este trabajo.</p>
        </section>

        <section>
            <h2>Educación</h2>
            <p><strong>Universidad ABC</strong> - Licenciatura en Informática (2001 - 2005)</p>
            <p>Descripción de la educación y los logros académicos.</p>
        </section>
        
        <section>
            <h2>Referencias Laborales</h2>
            <p><strong>PERSONA</strong> - Referencia</p>
        </section>

        <section>
            <h2>Referencias Familiares</h2>
            <p><strong>FAMILIAR</strong> - Referencia</p>
        </section>

        <section>
            <h2>Especialización</h2>
            <p><strong>ESPECIALIZACIÓN</strong> - Duración de especialización</p>
            <p>Descripción.</p> 
        </section>

        <section>
            <h2>Proyectos</h2>
            <p><strong>PROYECTO</strong> - Duración de proyecto</p>
            <p>Descripción.</p> 
        </section>

        <section>
            <h2>Otra Experiencia Laboral</h2>
            <p><strong>EMPRESA</strong> - Duración</p>
            <p>Descripción.</p> 
        </section>
    </div>
</div>
