<section class ="formCarrusel">
    <section class = "layoutCarrusel">
        <div class="carousel-container">
            <div class="carousel">
                <img [src]="images[currentIndex].src" alt="Image {{ currentIndex }}">
            </div>
            <button (click)="prevImage()" class="prev-button"><img src = "https://cdn-icons-png.flaticon.com/128/9447/9447827.png"></button>
            <button (click)="nextImage()" class="next-button"><img src = "https://cdn-icons-png.flaticon.com/128/9447/9447687.png"></button>
        </div>
</section>
