<nav class="navbar">
    <ul>
        <h1 class="pagIni">ConnectEDU</h1>
        <li class="dropdown">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/20/20173.png"></a>
            <div class="dropdown-content">
                <a href="#">Notificación 1</a>
                <a href="#">Notificación 2</a>
                <a href="#">Notificación 3</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2645/2645890.png"></a>
            <div class="dropdown-content">
                <a href="#">Tarea pendiente</a>
                <a href="#">En cola</a>
                <a href="#">Correo</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/456/456212.png">Laura García</a>
            <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="#">Bandeja de entrada</a>
                <a href="#">Ajustes</a>
                <a href="#">Cerrar sesión</a>
            </div>
        </li>
        
    </ul>
</nav>