<button type="submit" class="boton-agregar" data-toggle="modal" data-target="#largeModal2">Agregar experiencia</button>

<!-- large modal -->
<div class="modal fade" id="largeModal2" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="msform" action="" [formGroup]="formularioExperiencias" method="post"
                enctype="multipart/form-data">
                <fieldset>
                    <h1>Experiencia</h1>
                    <h2 class="fs-subtitle">Pon un titulo:</h2>
                    <input type="text" name="titulo" placeholder="ej. experiencia en ethical hacking"
                        formControlName="titulo" />
                    <h2 class="fs-subtitle">Empresa:</h2>
                    <input type="text" name="Empresa" placeholder="ej. Tech and code SAS" formControlName="empresa" />
                    <h2 class="fs-subtitle">Cargo:</h2>
                    <input type="text" name="Cargo" placeholder="ej. Técnico en computadores" formControlName="cargo" />
                    <h2 class="fs-subtitle">Duración:</h2>
                    <input type="text" name="Duración" placeholder="ej. 3 meses a 6 meses" formControlName="duracion" />
                    <button type="submit" class="next action-button" value="Crear"
                        (click)="crearExperiencias()">Crear</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div *ngFor="let experiencias of experienciass" class ="letra">
    <h3 class="titulo">{{ experiencias.titulo}}</h3>
    <p class="justified">Empresa: {{ experiencias.empresa}} </p>
    <p class="justified">Cargo: {{ experiencias.cargo}}
        <button type="" class="btn_reaccion2"> Opciones
            <div class="reacciones">
                <div class="reaccion" type="submit" data-toggle="modal" data-target="#largeModal3"
                    (click)="activador( experiencias)">
                    <i>Edit</i>
                    <span>Editar</span>
                </div>
                <div class="reaccion" id="mostrar" type="submit" (click)="eliminarExperiencias( experiencias.titulo)">
                    <i>Delete</i>
                    <span>Eliminar</span>
                </div>
            </div>
        </button>
    </p>
    <p class="justified">Duración: {{ experiencias.duracion}}</p>

</div>

<!-- large modal -->
<div class="modal fade" id="largeModal3" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="msform" action="" [formGroup]="formularioExperiencias" method="post"
                enctype="multipart/form-data">
                <fieldset>
                    <h1>Experiencia</h1>
                    <h2 class="fs-subtitle">Pon un titulo:</h2>
                    <input type="text" name="titulo" placeholder="ej. experiencia en ethical hacking"
                        formControlName="titulo" />
                    <h2 class="fs-subtitle">Empresa:</h2>
                    <input type="text" name="Empresa" placeholder="ej. Tech and code SAS" formControlName="empresa" />
                    <h2 class="fs-subtitle">Cargo:</h2>
                    <input type="text" name="Cargo" placeholder="ej. Técnico en computadores" formControlName="cargo" />
                    <h2 class="fs-subtitle">Duración:</h2>
                    <input type="text" name="Duración" placeholder="ej. 3 meses a 6 meses" formControlName="duracion" />
                    <button type="submit" class="next action-button" value="Crear"
                        (click)="actualizarExperiencias()">Actualizar</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>