<button type="submit" class="boton-agregar"  data-toggle="modal" data-target="#largeModal">Agregar</button>

<!-- large modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="msform" action="" [formGroup]="formularioEstudios" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <form>
                            <h1>Datos académicos</h1>
                            <h2 class="fs-subtitle">Nivel de educación:</h2>
                            <select type="text" name="Nivel de educación" placeholder="Nivel de educación" formControlName="nivelEducacion">
                                <option value="Primaria">Primaria</option>
                                <option value="Secundaria">Secundaria</option>
                                <option value="Técnico o tecnólogo">Técnico o tecnólogo</option>
                                <option value="Bachiller">Bachiller</option>
                                <option value="Pregrado">Pregrado</option>
                                <option value="Postgrado">Postgrado</option>
                                <option value="Doctorado o magister">Doctorado o magister</option>
                            </select>
                            <h2 class="fs-subtitle">Carrera:</h2>
                            <input type="text" name="Carrera" placeholder="ej. Ciencias de la computación" formControlName="carrera"/>
                            <h2 class="fs-subtitle">Universidad:</h2>
                            <input type="text" name="Universidad" placeholder="ej. Sergio Arboleda" formControlName="universidad" />
                            <h2 class="fs-subtitle">Idiomas:</h2>
                            <input type="text" name="Idiomas" placeholder="ej. Ingles(B1), mandarin(A2)" formControlName="idiomas"/>
                            <button type="submit" class="next action-button" value="Crear" (click)="crearEstudios()" >Crear</button>
                        </form>
                    </fieldset>
            </form>
        </div>
    </div>
</div>