<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<app-side-bar></app-side-bar>
<!-- PAGE STUFF -->
<div *ngFor="let hojaVidas of hojaVidas" class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name">
            <div class="abs-center">{{hojaVidas.nombre}} {{hojaVidas.apellido}}</div>
        </div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <div class="circular-image">
                    <img src="https://cdnb.20m.es/sites/112/2019/04/cara6-620x618.jpg" >
                </div>
                
            </div>
        </div>
        <p>{{hojaVidas.correo}}</p>
        <p>{{hojaVidas.cedula}}</p>
        <p>{{hojaVidas.direccion}}</p>
        <p>{{hojaVidas.fechaNacimiento}}</p><br>
        <p class="rela-block social twitter">{{hojaVidas.twitter}}</p>
        <p class="rela-block social pinterest">{{hojaVidas.pinterest}}</p>
        <p class="rela-block social linked-in">{{hojaVidas.linkedIn}}</p>
        <p class="rela-block caps side-header">Educación</p>
        <p class="rela-block list-thing">Advanced potion making</p>
        <p class="rela-block list-thing">Degree in popping and locking</p>
        <p class="rela-block list-thing">Knitting game on point</p>
        <p class="rela-block list-thing">Culinary af</p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title">{{hojaVidas.titulo}}</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Perfil</div>
        <div class="centered-content">
            <p class="light">{{hojaVidas.hobbies}}</p>
        </div>
        <div class="rela-block caps greyed">Trayectoria profesional</div>
        <div class="centered-content">
            <p class="light">{{hojaVidas.trayectoria}}</p>
        </div>
        <div class="rela-block caps greyed">Un poquito más sobre mi</div>
        <div class="centered-content">
            <p class="light">{{hojaVidas.algoMas}}</p>
        </div>
        
        <h3>Job #1</h3>
        <p class="light">First job description</p>
        <p class="justified">Plaid gentrify put a bird on it, pickled XOXO farm-to-table irony raw denim messenger bag
            leggings. Hoodie PBR&B photo booth, vegan chillwave meh paleo freegan ramps. Letterpress shabby chic fixie
            semiotics. Meditation sriracha banjo pour-over. Gochujang pickled hashtag mixtape cred chambray. Freegan
            microdosing VHS, 90's bicycle rights aesthetic hella PBR&B. </p>

        <h3>Job #2</h3>
        <p class="light">Second Job Description</p>
        <p class="justified">Beard before they sold out photo booth distillery health goth. Hammock franzen green juice
            meggings, ethical sriracha tattooed schlitz mixtape man bun stumptown swag whatever distillery blog.
            Affogato iPhone normcore, meggings actually direct trade lomo plaid franzen shoreditch. Photo booth pug
            paleo austin, pour-over banh mi scenester vice food truck slow-carb. Street art kogi normcore, vice everyday
            carry crucifix thundercats man bun raw denim echo park pork belly helvetica vinyl. </p>

        <h3>Job #3</h3>
        <p class="light">Third Job Description</p>
        <p class="justified">Next level roof party lo-fi fingerstache skateboard, kogi tumblr. Shabby chic put a bird on
            it chambray, 3 wolf moon swag beard brooklyn post-ironic taxidermy art party microdosing keffiyeh marfa. Put
            a bird on it 3 wolf moon cliche helvetica knausgaard. Mumblecore fingerstache lomo, artisan freegan keffiyeh
            paleo kinfolk kale chips street art blog flannel.</p>
    </div>
</div>