<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<app-side-bar></app-side-bar>
<!-- PAGE STUFF -->
<div *ngFor="let hojaVidas of hojaVidas" class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name">
            <div class="abs-center">{{hojaVidas.nombre}} {{hojaVidas.apellido}}</div>
        </div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <div class="circular-image">
                    <img src="https://cdnb.20m.es/sites/112/2019/04/cara6-620x618.jpg" >
                </div>
                
            </div>
        </div>
        <p>Correo: {{hojaVidas.correo}}</p>
        <p>Cédula: {{hojaVidas.cedula}}</p>
        <p>Dirección: {{hojaVidas.direccion}}</p>
        <p>Fecha de nacimeinto:{{hojaVidas.fechaNacimiento}}</p><br>
        <p class="rela-block social twitter">{{hojaVidas.twitter}}</p>
        <p class="rela-block social pinterest">{{hojaVidas.pinterest}}</p>
        <p class="rela-block social linked-in">{{hojaVidas.linkedIn}}</p>
        <p class="rela-block caps side-header">Educación</p>
        <p class="rela-block list-thing"><app-educacion></app-educacion></p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title">{{hojaVidas.titulo}}</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Perfil</div>
        <div class="centered-content">
            <p class="light">{{hojaVidas.hobbies}}</p>
        </div>
        <div class="rela-block caps greyed">Trayectoria profesional</div>
        <div class="centered-content">
            <p class="light">{{hojaVidas.trayectoria}}</p>
        </div>
        <div class="rela-block caps greyed">Un poquito más sobre mi</div>
        <div class="centered-content">
            <p class="light">{{hojaVidas.algoMas}}</p>
        </div>
        <div class="rela-block separator"></div>
        <h2 class="rela-block caps title">MIS EXPERIENCIAS</h2>
        <div class="rela-block separator"></div>
        <app-experiencia></app-experiencia>
    </div>
</div>