/* Estilo para el contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50.5vh;
    width: 450px; /* Ajusta el ancho según tus necesidades */
    padding: 20px; /* Ajusta el espaciado interno según sea necesario */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
/* Estilo para el botón de "Regístrate" */
.sign-up-button {
    background-color: #007bff;
    color: white;
    font-size: 1.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
    width: 100%; /* Ancho del 100% para ocupar todo el ancho disponible */
}

.sign-up-button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease-in-out;
}

