<section class="formRecursos">
    <section class="container gallery-container">                
        <div class="tz-gallery">
            <div class="row">
                <div *ngFor ='let item of listResources' class="col-sm-6 col-md-4">
                    <a class="lightbox" href="https://marketplace.canva.com/EAFI171fL0M/1/0/1003w/canva-portada-de-libro-de-novela-ilustrado-color-azul-aqua-PQeWaiiK0aA.jpg">
                        <img src={{item.imagen}}>
                        <section class="BordeBotones">
                            
                            <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                            <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710511.png" ></button>
                            <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                            <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                        </section>
                    </a>
                </div>
            </div>
        </div>
</section>
</section>