<section id = "principal">
    <section id = "publicaciones">
        <article class="post">

            <a href="" class="enlace-post">
                <h2 class="titulo-post">Titulo de la noticia</h2>
            </a>
            <!-- <img scr="" class="img-post">  -->
            <p class="parrafo post">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sapiente totam voluptatibus laboriosam unde eveniet consequuntur labore neque dolorem sequi. Harum earum omnis odio esse eaque excepturi, id voluptas quae.
            </p>
        </article>
    </section>
</section>