
<mat-form-field class="container"  >
    <input class="search-btm" [formControl]="search" spellcheck="false" autocomplete="none" matInput placeholder=" Búsqueda " >
</mat-form-field>
<!--
<app-search 
  (search)= "handleSearch($event)"
></app-search>
  <button class = "boton-buscar" (click)="direccionarPag('perfil')"><img src="https://cdn-icons-png.flaticon.com/128/8956/8956182.png" alt="a" style="width: 50px; height: 50px; margin-top :auto;" ></button>
<div class="container milista">
   
<ul>
  <li *ngFor="let usuario of usuarios | search:filtro_valor ">{{ usuario.name}}
     </li>
  
</ul>
</div>

-->
